[submodule "API"]
	path = API
	url = git@github.com:StEvUgnIn/API.git
[submodule "ASD"]
	path = ASD
	url = git@github.com:StEvUgnIn/ASD.git
[submodule "Batch"]
	path = Batch
	url = git@github.com:StEvUgnIn/Batch.git
[submodule "C"]
	path = C
	url = git@github.com:StEvUgnIn/C.git
[submodule "Embedded"]
	path = Embedded
	url = git@github.com:StEvUgnIn/Embedded.git
[submodule "Java"]
	path = Java
	url = git@github.com:StEvUgnIn/Java.git
[submodule "Python"]
	path = Python
	url = git@github.com:StEvUgnIn/Python.git
[submodule "VHDL"]
	path = VHDL
	url = git@github.com:StEvUgnIn/VHDL.git
